<footer class="footer" style="background: no-repeat center/cover url('/public/images/footer.jpg');">
    <div class="container footer__container">
        <div class="footer__top">
            <div class="footer__info">
                <a href="/" class="footer__logo"><img src="/public/icons/logo.svg" alt="FoodExpress"></a>
                <div class="footer__info__text">
                    <span>ООО «ВКУС ФУД»</span>
                    <span>ИНН: 99874201266</span>
                    <span>КПП: 771475991</span>
                    <span>ОГРН: 1234706301136</span>
                </div>
            </div>
             <nav class="footer__catalog">
                <h6>Каталог</h6>
                <ul class="footer__menu">
                    <li><a href="#">Пицца</a></li>
                    <li><a href="#">Суши</a></li>
                    <li><a href="#">Бургеры</a></li>
                    <li><a href="#">Шашлыки</a></li>
                    <li><a href="#">Шаурма</a></li>
                    <li><a href="#">Пироги</a></li>
                    <li><a href="#">Лапша</a></li>
                    <li><a href="#">Паста</a></li>
                    <li><a href="#">Фастфуд</a></li>
                    <li><a href="#">Бизнес-ланчи</a></li>
                </ul>
            </nav>
            <nav class="footer__nav">
                <h6>Информация</h6>
                <ul class="footer__menu">
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Компания</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <h2>Мы на связи по любым вопросам:</h2>
                <div class="footer__contacts__items">
                    <div class="footer__contacts__item">
                        <span>Клиентская поддержка режим работы:</span>
                        <span>с 10:00 - 18:00 пн-пт):</span>
                        <a href="tel:+78126004764" class="phone">+7 (812) 600-47-64</a>
                    </div>
                    <div class="footer__contacts__item">
                        <span>Техническая поддержка:</span>

                        <a href="tel:+79957850019" class="phone">+7 (995) 785-00-19</a>
                    </div>
                    <div class="footer__contacts__item">
                        <span> Отвечаем в течение минуты:</span>
                        <div class="footer__contacts__messengers">
                            <a href="tel:+78126004764" >
                                Написать в Max
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_93_754)">
                                    <path d="M2.68378 -1.83925L2.68402 -7.49316H-2.96959M2.68402 -7.49316L-7.49298 2.68391" stroke="white" stroke-width="1.59917" stroke-linecap="round" stroke-linejoin="round"/>
                                    <g clip-path="url(#clip1_93_754)">
                                    <path d="M14.6838 10.1607L14.684 4.50684H9.03041M14.684 4.50684L4.50702 14.6839" stroke="white" stroke-width="1.59917" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_93_754">
                                    <rect width="19.19" height="19.19" fill="white"/>
                                    </clipPath>
                                    <clipPath id="clip1_93_754">
                                    <rect width="19.19" height="19.19" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                            </a>
                            <a href="">
                                Написать в Telegram
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_93_754)">
                                    <path d="M2.68378 -1.83925L2.68402 -7.49316H-2.96959M2.68402 -7.49316L-7.49298 2.68391" stroke="white" stroke-width="1.59917" stroke-linecap="round" stroke-linejoin="round"/>
                                    <g clip-path="url(#clip1_93_754)">
                                    <path d="M14.6838 10.1607L14.684 4.50684H9.03041M14.684 4.50684L4.50702 14.6839" stroke="white" stroke-width="1.59917" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_93_754">
                                    <rect width="19.19" height="19.19" fill="white"/>
                                    </clipPath>
                                    <clipPath id="clip1_93_754">
                                    <rect width="19.19" height="19.19" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="footer__contacts__item footer__contacts__mail">
                        <span>Наша почта:</span>
                        <a href="mailto:hello@fresh-go.ru" class="mail">hello@fresh-go.ru</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="footer__bottom">
            <div class="footer__bottom__links">
                <a href="">Политика конфиденциальности</a>
                <a href="">Публичная оферта</a>
            </div>
            <div class="footer-kontur">
                <div class="footer-kontur__links">
                    <a href="http://kontur-lite.ru/1c-bitrix" title="Разработка сайтов на 1С-Битрикс" target="_blank">Создание сайтов</a>
                    <a href="http://kontur-promo.ru/prodvizhenie-sajjtov" title="Продвижение сайтов" target="_blank">Продвижение сайтов</a>
                </div>
                <svg width="57" height="38" viewBox="0 0 57 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_95_939)">
                        <path d="M51.6184 16.7631V18.5173H52.2493C52.9149 18.5173 53.4365 18.2673 53.4365 17.6005C53.4365 17.1591 53.2213 16.7612 52.3824 16.7612C52.1198 16.7612 51.9776 16.7518 51.6184 16.7631ZM49.875 22.9597V15.043C50.2999 15.043 52.2493 15.043 52.4681 15.043C54.5489 15.043 55.2892 16.1171 55.2892 17.5777C55.2892 19.0478 54.4176 19.6483 54.0036 19.8643L56.2083 22.9597H54.0948L52.2603 20.2147H51.6184V22.9597H49.875Z" fill="#D1FBE3"/>
                        <path d="M47.5014 19.5536C47.5014 21.9746 46.0445 22.9597 44.437 22.9597C42.5083 22.9597 41.168 21.7946 41.168 19.474V15.043H42.8833V19.0895C42.8833 20.3227 43.2367 21.2623 44.437 21.2623C45.4758 21.2623 45.7862 20.4591 45.7862 19.1917V15.043H47.5014V19.5536Z" fill="#D1FBE3"/>
                        <path d="M37.2083 38H0V0H37.2083V13.0015H35.4834V1.7616H1.72309V36.2384H35.4834V24.9136H37.2083V38Z" fill="#D1FBE3"/>
                        <path d="M29.5472 22.9597L26.1016 18.2089V22.9597H24.543V15.043H25.8723L29.3196 19.8146L29.3161 15.043H30.8729L30.8764 22.9597H29.5472Z" fill="#D1FBE3"/>
                        <path d="M33.25 15.043H38.7917V16.7392H36.7845V22.9597H35.2556V16.7392H33.25V15.043Z" fill="#D1FBE3"/>
                        <path d="M7.91797 15.043H9.60169V18.4921L12.011 15.043H14.0311L11.2643 18.6966L14.2513 22.9597H12.1167L9.60169 19.1926V22.9597H7.91797V15.043Z" fill="#D1FBE3"/>
                        <path d="M18.6047 21.3201C19.8784 21.3201 20.5392 20.2919 20.5392 19.0014C20.5392 17.6014 19.6868 16.6826 18.6047 16.6826C17.4946 16.6826 16.6719 17.6014 16.6719 19.0014C16.6719 20.3126 17.5326 21.3201 18.6047 21.3201ZM18.6047 15.043C20.6449 15.043 22.168 16.5618 22.168 19.0014C22.168 21.3201 20.6449 22.9597 18.6047 22.9597C16.5662 22.9597 15.043 21.439 15.043 19.0014C15.043 16.7807 16.4704 15.043 18.6047 15.043Z" fill="#D1FBE3"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_95_939">
                        <rect width="57" height="38" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
       </div>
    </div>
</footer>