@use "../common/variables";

.footer{
  padding: 60px 0;
  background-color: #388860;
  color: #fff;

  h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 16px;
    color: #D1FBE3;
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__info{
    flex-shrink: 0;
    width: 262px;

    &__text{
      background: #2E7753;
      border-radius: 20px;
      padding: 24px;
      color: #ADF4CE;
      span{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 2px;
      }
    }

  }
  &__logo{
    width: 262px;
    height: 92px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__menu{
    display: flex;
    flex-direction: column;
    gap: 8px;

    li{
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__contacts{
    width: 547px;
    flex-shrink: 0;

    h2{
      max-width: 414px;
      margin-bottom: 34px;
    }

    &__items{
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      gap: 29px;
    }
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;

      span{
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: #D1FBE3;
      }

      .phone,
      .mail{
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
      }
    }
    &__messengers{
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      a{
        width: 210px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: variables.$ButtonBg;
        border-radius: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
    &__mail{
      padding: 21px 0;
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &__links{
      display: flex;
      flex-direction: column;
      gap: 8px;
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #D1FBE3;
      }
    }
  }
}
.footer-kontur{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 57px;
  gap: 12px;

  &__links{
    display: flex;
    flex-direction: column;
    gap: 4px;
    a{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #D1FBE3;
    }
  }
}