@use "../common/variables";
.banner{
    margin-bottom: 30px;
    &__swiper{
        &__pagination{
            .swiper-pagination-bullet{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #fff;
                opacity: 1;

                &-active{
                    background: variables.$AdditionalColor;
                   
                }
            }
        }
    }
   &__item{
    padding: 205px 0;
    min-height: 670px;
     

     &__content{
        display: flex;
        flex-direction: column;
        gap: 28px;
        max-width: 750px;
        color: #fff;
     }

     &__labels{
        display: flex;
        gap: 34px;
     }
     &__label{
        display: flex;
        align-items: center;
        gap: 7px;
     }
     &__btn{
        width: 198px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #ADF4CE;
        font-weight: 700;
        font-size: 16px;
        color: variables.$AdditionalColor !important;
     }
   }
}