@use "../common/variables";

.popular,
.new-products{
    padding: 30px 0;
    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px
    }

    .swiper-slide{
        width: 230px;
    }

}