@use "../common/variables";

 .product-card{
        width: 230px;
        display: flex;
        flex-direction: column;
        position: relative;

        .hit-tag,
        .new-tag{
            position: absolute;
            top: 6px;
            left: 8px;
            z-index: 1;
        }
        .like-btn{
            position: absolute;
            top: 6px;
            right: 8px;
            z-index: 1;
        }
        &__img{
            width: 100%;
            aspect-ratio: 230/290;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(231, 231, 231, 0.2);
            border-radius: 12px;
            margin-bottom: 8px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &__title{
            min-height: 42px;
        }
        &__weight{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #909090;
        }
        &__bottom{
            position: relative;
        }
         &__counter{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &.active{
                z-index: 1;
            }

            &__count{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__value{
                font-size: 16px;
                line-height: 24px;
            }
            &__price{
                font-size: 12px;
                lheight: 16px;

                &::after{
                    content: " ₽";
                }
            }
        }
        &__button,
        &__counter{
            width: 100%;
            padding: 5px;
            border-radius: 8px;
            background-color: #F0F2F5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
        }
        &__btn{
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: variables.$AdditionalColor;
        }
        &__prices{
            display: flex;
            align-items: center;
            gap: 4px;
        }
        &__price{
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
        }
        &__old-price{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #AAAAAA;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #EB2323;
                transform: skewX(-15deg) translateY(-10px) rotate(-15deg);
            }
        }

    }