@use '../blocks';
@use '../media';
@use 'variables';

//font-family
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* -------------------------------------------main-styles------------------------------------------- */
html{
	scroll-behavior: smooth;

  .lock{
    overflow: hidden;
  }
}

body{
	font-family: variables.$FontFamily;
	background-color: #fff;
	color: variables.$MainColor;
}
.no-scroll{
	overflow: hidden;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.container{
	max-width: 1540px;
	margin: 0 auto;
	padding: 0 20px;
	border: 1px solid red;
}
header{
	flex-shrink: 0;
}

main{
	flex-grow: 1;
}

footer{
	background-color: black;
	flex-shrink: 0;
}
h1{
	font-weight: 700;
	font-size: 64px;
	line-height: 70px;
}

h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
h6{
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}